.inputStyle{ border:3px solid #ae7000}

/* 1.5s缓动动画 先慢后快  */
.show{opacity: 1; transition: all 1.5s ease-in;}

/*.hide{opacity: 0;transition: all 1.5s ease-in;}*/
/* :后要紧跟 不能加空格    动画结束后会停在第一帧，forwards可以解决*/
.hide{animation:hide-item 2s ease-in  forwards;}

/* 定义帧动画及帧节点 */
@keyframes hide-item{
    0%{
        opacity: 1;
        color:aqua;
    }
    50%{
        opacity: 0.5 ;
        color:rgb(0, 140, 255);
    }
    100%{
        opacity:0;
        color: rgb(144, 15, 230);
    }
}


/* 使用Transition */
.animate-test-enter{
    opacity: 0;
}
.animate-test-enter-active{
    opacity: 1;
    transition: opacity 2000ms;

}
.animate-test-enter-done{
    opacity: 1;
}
.animate-test-exit{
    opacity: 1;
}
.animate-test-exit-active{
    opacity: 0;
    transition: opacity 2000ms;

}
.animate-test-exit-done{
    opacity: 0;
}